<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
</head>
<body>
	<h1>Homepage for EJS: <%= 'hello world'.toUpperCase() %></h1>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero illo temporibus obcaecati dolorum, laboriosam quam quod maiores. Dolore vel, odio laborum a iure, soluta reiciendis vero mollitia culpa saepe sed?
	Vero sit non facere consequatur dolore voluptatem eaque temporibus earum, beatae illum. Voluptatibus ducimus corrupti sint vel. Rem, impedit! Perferendis nam inventore facilis commodi fugiat necessitatibus recusandae est quibusdam nisi.</p>

	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam debitis deleniti sed recusandae numquam. Fuga cum eligendi quibusdam obcaecati nisi ipsum quaerat fugit assumenda quisquam qui? Officiis totam voluptate qui!
	Incidunt eius quod sequi rem recusandae distinctio? Modi reprehenderit possimus alias. Eum laboriosam ab deserunt eveniet sequi, quasi cupiditate atque delectus nesciunt non officia quidem dolorum nulla repellendus, autem fugit!</p>


</body>
</html>