/* h1 {
    background-color: aqua;
    width: 100px;
    border-radius: 25% / 10% 25% 50%;
    border-width: 2px;
    border-style: double;
    border-color: blue;
}

div{
	width: 200px;
	height: 100px;
	background-color: aqua;
	border-radius: 20% 10px /25% 50%;
	text-align: center;
}

#one{
	width: 200px;
	height: 100px;
	background-color: pink;
	border-radius: 20% 10px /25% 50%;
	border-style: groove;
	border-width: 5px;
	border-left-width: 10px;
	text-align: center;
	padding: 10px;
}

#two{
	width: 200px;
	height: 100px;
	background-color: red;
	border-radius: 20% 30% 40% 50%;
	border-style: dotted;
	border-width: 5px;
	border-left-width: 10px;
	text-align: center;
	padding: 10px
}

#three{
	width: 200px;
	height: 100px;
	background-color: blue;
	border-radius: 20% 30% 40% 50%;
	border-style: dotted;
	border-width: 5px;
	border-left-width: 10px;
	text-align: center;

}

/* 
padding: 10px  				|	all 4 sides
padding: 10px 5px    		|	verti and hori
padding: 10px 5px 20px		|	verti hori bottom
padding: 10px 5px 20px 15px |	top right bottom left
*/

/*
margins follw same shit | just define padding outside of the box
*/ 



h1{
	background-color: palegoldenrod;
	border: 1px solid black;
	display :inline;
}

h2{
	background-color: cyan;
	border: 1px solid yellowgreen;
}

#firstSpan{
	background-color: bisque;
	font-size: 30px;
	border-radius: 20%;
	display: block;
}

#secondSpan{
	background-color: pink;
	font-size: 40px;
	border: 5px solid black;
	border-radius: 20% 5% 30% 50%; 
	height: 300px;
	width:300px;
}

div{
	height: 200px;
	width: 300px;
	background-color: #fb4934;
	border: 5px solid #32302f;
	display: inline-block;
}