<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1><%= reqCampground.title %></h1>
	<h2><%= reqCampground.location %></h2>

	<footer>
		<p>
			<a href="/campgrounds/<%=campground._id%>/edit">
				<button>Edit</button>
			</a>
		</p>
		<p>
			<a href="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
				<button>DELETE</button>
			</a>
		</p>
		<p>
			<a href="/campgrounds">
				<button>All Campgrounds</button>
			</a>
		</p>
	</footer>
</body>
</html>